html, body { overflow: hidden; height: 100%; }

body {
	width: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #000;
	font-family	: arial;
	font-size	: 100%;
}

h1, h2 { padding: 0 20px; text-shadow: 1px 1px 1px #000; }
h1 { float: left; font-size: 2em; } 
h2 { float: right; font-size: 1.5em; }

header, #three, #media { position: absolute; top: 0; }
header { width: 100%; z-index: 3; pointer-events: none; }
#three { z-index: 1; }
img { display: none; }

#controls { 
	position: absolute; 
	bottom: 0; 
	width: 100%; 
	z-index: 4; 
	/*pointer-events: none;*/ 
	background-color: #000;
	opacity: 0.5;
	padding: 20px;
	border: 1px solid white;
}

#slider { 
	width: 200px;
}

#media {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.inactive { z-index: -1; }
.active { z-index: 2; }

.rotate-0 { -webkit-transform: rotate(0deg); }
.rotate-90 { -webkit-transform: rotate(90deg); }
.rotate-270 { -webkit-transform: rotate(270deg); }