<!-- div id="loader" ng-class="{loading: loading, loaded: loaded}"></div -->

<header>
    <h1 class="fade" ng-show="selected && loaded">{{getTitle()}}</h1>
    <h2 class="fade" ng-class="{'semi-hide': animating && !selected}">{{date}}</h2>
</header>

<sw-media class="media fade" selected="selected" ng-show="selected && loaded" loading="loading"
    loaded="loaded" zoomed="zoomed" paused="paused" get-selected-image="getSelectedImage()"></sw-media>

<!-- need to specify the scope variables we want to access as attributes -->
<sw-cloud class="three" debug="debug" media="media" selected="selected" date="date" loading="loading" 
    loaded="loaded" paused="paused" animating="animating" zoomed="zoomed" reversed="reversed" 
    time-ratio="timeRatio" set-selected="setSelected">
</sw-cloud>

<div class="controls">
    <div class="left">
        <button class="button oi" data-glyph="arrow-circle-left" ng-click="page(-1)" sw-auto-fire min-speed="10" 
            max-speed="20" steps="20"></button>
        <button class="button oi" data-glyph="arrow-circle-right" ng-click="page(1)" sw-auto-fire min-speed="10" 
            max-speed="20" steps="20"></button>
    </div>
    <div class="left">
        <input class="slider" type="range" min="200" max="8000" 
            value="timeRatio" step="100" ng-model="timeRatio" />
    </div>
    <div class="right">
        <button class="button right oi" data-glyph="loop-circular" ng-click="reverse()"></button>
    </div>
</div>